#parragraph, #biography, .dropdown, .subtitle{ 
    font-family: 'Special Elite', cursive;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: auto;
  height: 100px;
  background-color: #09302feb !important;
}

#navbarMenu {
  font-family: 'Playball', cursive;
  position:relative;
  display: flex;
  z-index: 1; 
  top: -2px; 
  left: 160px;
  text-shadow: 10px 0px 10px rgb(0, 0, 0);
}

.navbar-item{
  font-size: 20px ;
  text-align: center;
  justify-content: center;
  color: #f5f5f5;
  height: 110px;
  margin-right: 0px;
  overflow: hidden;
  position: relative;
  width: 200px; 
  transition: 1s ease;
}

.navbar-item:hover {
  color: rgb(0, 0, 0) !important;
 }


html, body {
    background-image: url("./images/peakpx.jpg");
    background-size: cover;
    background-attachment: fixed;
  }

  .mountains{
    box-shadow: 0 0 10px rgb(0, 0, 0);

    border-radius: 40px;
    width: 60px; 
    position: relative;
    z-index: 1; 
    filter: invert(100%) 
   }

   .name{
    font-family: 'Playball', cursive;
    position: relative;
    z-index: 1;
    color: white;
    font-size: 50px;
    left: 10px;
    top: 5px;
    text-shadow: 10px 0px 10px rgb(0, 0, 0);
  }


  .card {
    border-radius: 20px;
    display: flex;
    position: relative;
    justify-content:center;
    align-items:center;
    width: 1200px;
    height: 700px; 
    margin: 0 auto; 
    margin-top: 200px;
    background-color: #09302feb !important
  }
  
  .profileImages{
    position: relative;
  }

  #profile_pic {
    width: 400px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    margin-bottom: 0px;
    z-index: 1;
  }
  

    #leaf1{
      width: 260px;
      position: absolute;
      top:56%;
      left: 37%;
      transform: translate(-50%, -50%);
      margin-bottom: 0px;
      z-index: 2;
      filter: invert(100%) grayscale(100%) brightness(100);
    }

    #leaf2{
    width: 260px;
    position: absolute;
    top:56%;
    left: 63%;
    transform: translate(-50%, -50%) scaleX(-1);
    margin-bottom: 0px;
    z-index: 2;
    filter: invert(100%) grayscale(100%) brightness(100); 
    }

    .about-heading {
      position: absolute;
      height: 150px; 
      left: 50%;
      transform: translateX(-50%);
      font-size: 30px;
    }

    .about-section {
      font-family: 'Special Elite', cursive;
      position: relative;
      color: #f5f5f5;
      display: flex;
      justify-content: center;
      align-items: flex-end; 
      text-shadow: 10px 0px 10px rgb(0, 0, 0);
    }
    
    .about_me {
      font-size: 20px;
      text-align: center;
      height: 90px; 
      margin-right: 40px;
      margin-left: 40px;
    }

/*------------------Project cards---------------*/

/*----------Card 2-----------*/
.card2 {
  border-radius: 20px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 1200px; 
  margin: 20px auto 0;
  height: -100px;
  background-color: #09302feb;
}

.projects{
  font-family: 'Playball', cursive;
  font-size: 50px;
  position:relative;
 text-align: center;
  z-index: 2;
  color: #f5f5f5;
  height: 500px;
  text-shadow: 10px 0px 10px rgb(0, 0, 0);
}

.tile{
  position: absolute;
  left: 0;
  margin: px;
  width: 420px;
  top: 100px;
  background-color: #09302f00!important;
}

.tile3{
  position: absolute;
  left: 400px;
  width: 420px;
  top: 100px;
  background-color: #09302f00!important;
}

.tile2{
  position: absolute;
  left: 810px;
  width: 400px;
  top: 100px;
  background-color: #09302f00!important;
}

.wrapper{
  overflow: hidden;
  filter: brightness(90%);
}

.wrapper img{
  width: 100%; height: 100%;
}

.wrapper:hover{
  scale: 120%;
  transition: scale 0.8s ease;
  filter: brightness(100%);
}

.wrapper:not(:hover){
  scale: 100%;
  transition: scale 0.8s ease;
}

.projectsContainer{
  position: relative;
  top: -220px;
}

.projectName {
  font-size: 40px;
  text-align: center;
  top: -5px;
  position: relative;
  z-index: 1;
  color: #f5f5f5;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
}

.subtitle{
color: #f5f5f5;
text-align: center;
text-shadow: 10px 0px 10px rgb(0, 0, 0);
}

.CatchmyBreath_Screenshot,
.Password_Screenshot,
.Weather_Dashboard {
 position: relative;
 margin: 10px 10px 10px 15px;
 border-radius: 20px;
 left:-15px;
}

/*----------Card 3-----------*/
.card3 {
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  width: 1200px; 
  margin: 20px auto;
  height: 240px;
  background-color: #0b4545eb;
}

.devTools{
  font-family: 'Playball', cursive;
  font-size: 50px;
  position:relative;
 text-align: center;
 top: 20px;
  z-index: 2;
  color: #f5f5f5;
  height: 0px;
  text-shadow: 10px 0px 10px rgb(0, 0, 0);
}

.wrapper2{
  width: 200px;
  overflow: hidden;
  height: 110px;

}

.logosDev1{
  position: relative;
  top: 15px;
  
}

.logosDev2{
  position: relative;
  top: 40px;
  
}

.logosDev3{
  position: relative;
  top: 50px;
  left: -30;
}

.logosDev4{
  position: relative;
  top: 60px;
  
}

.logosDev5{
  position: relative;
  top: 65px;
  
}

.wrapper6{
  width: 150px;
  height: 80px;
}

.wrapper7{
  width: 150px;
  height: 110px;

}

.wrapper8{
  width: 100px;
  height: 150px;

}

.wrapper9{
  width: 60px;
  height: 150px;
}



.wrapper2:hover{
  filter: brightness(150%);
  transition: filter 0.8s ease;
}

.wrapper2:not(:hover){
  filter: brightness(75%);
  transition: filter 0.8s ease;
}


.wrapper6:hover{
  filter: brightness(120%);
  transition: filter 0.8s ease;
}

.wrapper6:not(:hover){
  filter: brightness(75%);
  transition: filter 0.8s ease;
}

.wrapper7:hover{
  filter: brightness(115%);
  transition: filter 0.8s ease;
}

.wrapper7:not(:hover){
  filter: brightness(75%);
  transition: filter 0.8s ease;
}

.wrapper8:hover{
  filter: brightness(150%);
  transition: filter 0.8s ease;
}

.wrapper8:not(:hover){
  filter: brightness(75%);
  transition: filter 0.8s ease;
}

.wrapper9:hover{
  filter: brightness(150%);
  transition: filter 0.8s ease;
}

.wrapper9:not(:hover){
  filter: brightness(75%);
  transition: filter 0.8s ease;
}

.wrapper6,
.wrapper7,
.wrapper8,
.wrapper9 {
  margin: 80px; /* Add margin for spacing between elements */
}
/*----------Card 4-----------*/
.card4 {
  border-radius: 20px;
  display: flex;
  flex-direction: column; /* Change flex-direction to column */
  justify-content: center; /* Change justify-content to center */
  align-items: center; /* Add align-items: center */
  position: relative;
  width: 1200px;
  margin: 20px auto 0;
  height: 170px;
  background-color: #09302feb;
}

.socialMedia {
  display: flex; /* Add display:flex */
  align-items: center; /* Add align-items: center to horizontally align elements */
}

.wrapper3,
.wrapper4,
.wrapper5 {
  margin: 0 80px; /* Add margin for spacing between elements */
}

/* Adjust the order of the social media elements in HTML markup */
.linkedInLogo{
    position: relative;
  filter: invert(100%) grayscale(100%) brightness(150);
  width: 80px;
}
.instagramLogo{
  position: relative;
  filter: invert(100%) grayscale(100%) brightness(150);
  width: 40px; /* Add width to maintain consistent size */
}
.twitterLogo {
  position: relative;
  filter: invert(100%) grayscale(100%) brightness(150);
  width: 70px; /* Add width to maintain consistent size */
}

.socialMediatxt {
  font-family: 'Playball', cursive;
  color: white;
  font-size: 50px;
  text-shadow: 10px 0px 10px rgb(0, 0, 0);
}


.wrapper3:hover,
.wrapper4:hover,
.wrapper5:hover {
  transform: scale(1.5); /* Change scale to transform: scale() */
  transition: transform 0.8s ease;
}

.wrapper3:not(:hover),
.wrapper4:not(:hover),
.wrapper5:not(:hover) {
  transform: scale(1); /* Change scale to transform: scale() */
  transition: transform 0.8s ease;
}

.footer {
  margin-top: 20px;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #09302feb !important;
  color: white;
}

.content {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-burger {
  color: white;
}

  /*----------------Media Queries-----------------------------*/
 
  @media (max-width: 480px) {

    html, body {
      background-image: url("./images/plant.jpg");
    }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }

  .navbar-burger{
    position: relative;
    top: 5px;
    left: 55px;
  }

  #navbarMenu{
    position: relative;
    top: 354px;
    left: -350px;
    background-color: #09302f;
  }

  .navbar-item{
    width: 400px;
    height: 160px;
    color:#ffffff;
    font-size: 40px;
  }

  .navbar-menu {
    display: none;
  }
  
  .navbar-menu.active {
    display: block;
  }
  
  .menuItems{
    position: relative;
    top: 30px;
  }

  .name {
    font-size: 30px;
    top: 7px;
    left: 15px;
  }

.mountains{
  position:relative;
  width: 30px; 
  top: 4px;
  left: -20px;
 }

.card {
  border-radius: 20px;
  display: flex;
  position: relative;
  justify-content:center;
  align-items:center;
  width: 1200px;
  height: 1000px; 
  margin: 0 auto; 
  margin-top: 150px;
}

#profile_pic {
  width: 250px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  margin-bottom: 0px;
  z-index: 1;
}


  #leaf1{
    width: 170px;
    top:48%;
    left: 30%;
  }

  #leaf2{
  width: 170px;
  top:48%;
  left: 70%;
  }

  .about-heading {
    height: 420px; 
  }
  
  .about_me {
    font-size: 15px;
    text-align: center;
    height: 360px; 
    margin-right: 10px;
    margin-left: 10px;
  }

  .card2 {
    width: 390px; 
    height: 1100px;
  }

  .projects{
    font-size: 50px;
    position:relative;
    top: -270px;
  }
  
  .tile{
    left: -10px;
    top:100px;
  }
  
  .tile3{
    position: absolute;
    left: -10px;
    top: 450px;
  }
  
  .tile2{
    position: absolute;
    left: 0px;
    width: 400px;
    top: 770px;
  }
  
  .projectName {
    font-size: 30px;
    text-align: center;
    top: -5px;
  }
  
  .subtitle{
 font-size: 20px;
  }
/*---------2nd card------------*/
  
.card3 {
  width: 390px;
  height: 600px;
}

#devTools{
  display: block;
  position: relative;
  justify-content: center;
  align-items: center;
  
}

  .wrapper6, .wrapper7,.wrapper8 ,.wrapper9{
    margin: 0px 40px; 
  }

  .wrapper6{
    position: relative;
    width: 200px;
    height: 100px;
    left: -40px;
    top: -50px;
  }

  .wrapper7{
    position: relative;
    width: 200px;
    height: 100px;
    left: -40px;
    top: -40px;
  }

  .wrapper8{
    position: relative;
    width: 100px;
    height: 100px;
    left: 10px;
    top: -10px;
  }

  .wrapper9{
    position: relative;
    width: 60px;
    height: 100px;
    left: 30px;
    top: 4%;
  }
  .logosDev2,
.logosDev3,
.logosDev4,
.logosDev5 {
  
  left: 100px;
  top: 130px;
}


  .card4 {
    width: 390px;
    height: 120px;
  }

  .socialMediatxt {
    position: relative;
   font-size: 30px;
   top: -15px;
  }
  
  .wrapper3,
  .wrapper4,
  .wrapper5 {
    margin: 0px 40px; /* Add margin for spacing between elements */
  }
  
  /* Adjust the order of the social media elements in HTML markup */
  .linkedInLogo{
      position: relative;
    width: 140px;
  }
  .instagramLogo{
    position: relative;
    width: 100px; 
  }
  .twitterLogo {
    position: relative;
    width: 120px; 
  }
}             